extends layouts/about-us
block vars
  - active__menu = 'О нас'
  - page__class = 'about-us article-header'
  - header_img = 'img/fp-slide-2.jpg'
block content
  // HEADER
  include inc/header-image
  // PAGE CONTENT
  .container
    .article-body
      .block-header
      .article-body_text
        p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы.
        p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы.
        p: img(src="img/article-image.jpg", alt="")
        p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы.