extends layouts/default
block vars
  - active__menu = 'Главная'
  - page__class = 'firstpage'
block content
  // HEADER
  include inc/header-fp
  // PAGE CONTENT
  section.about
    .container
      .block-header: h2 О нас
      .row.about-intro
        .col.md-4.sm-5: p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы.
        .col.md-8.sm-7: .about-intro_well
          ul
            li Путешествия и деловые поездки
            li Услуги персонального ассистента, переводы и сопровождение
            li Транспортные услуги
            li Частные школы Швейцарии и высшее образование
            li Медицина и здоровье
      .about-description
        blockquote
          .blockquote-image: img(src="img/man.png", alt="")
          .blockquote-text
            p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы.
            p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы.
            p «Exclusive Swiss» — сервисная компания, предлагающая индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. Наша главная задача — экономия вашего личного времени и оптимальное решение для возникнувших задач или вопросов. Мы предоставляем наши услуги на территории Швейцарии и западной Европы. 


  include inc/section-rent