extends layouts/about-us
block vars
  - active__menu = 'Аренда'
  - page__class = 'rent-blog'
  - header_img = 'img/fp-slide-3.jpg'
block content
  // HEADER
  include inc/header-image
  // PAGE CONTENT
  include inc/section-rent