extends layouts/default
block vars
  - active__menu = 'Результаты поиска'
  - page__class = 'search'
block content
  // HEADER
  include inc/header-default
  // PAGE CONTENT
  .container
    .block-header: h2 Результаты поиска
    .search-results
      form(action="" method="post").search-form
        input(type="search" required placeholder="Поиск")
        button(type="submit").btn-red_ribbon Искать

      ol.search-results_list
        li
          h3: a(href="#") Показательный пример
          p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
        li
          h3: a(href="#") Процессуальное изменение
          p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
        li
          h3: a(href="#") Явление культурологического порядка
          p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
        li
          h3: a(href="#") Форшлаг
          p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
        li
          h3: a(href="#") Глиссандирующая ритмоформула скалярна
          p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.

    nav.pagination
      ul
        li.disabled: a(href='#') «
        li.active: a(href='#') 1
        li: a(href='#') 2
        li: a(href='#') 3
        li: a(href='#') 4
        li: a(href='#') 5
        li: a(href='#') »
