extends layouts/default
block vars
  - active__menu = 'Услуги'
  - page__class = 'services'
block content
  // HEADER
  include inc/header-serv
  // PAGE CONTENT
  section.services-list
    .container
      .block-header
      .services-list_item
        .row
          .col.sm-4.services-list_item-image
            img(src="img/offers-1.jpg", alt="")
            a(href="#").services-list_item-image_redmore
          .col.sm-8: .services-list_item-text
              .services-list_item-title
                h3  Показательный пример
              .services-list_item-intro
                p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .services-list_item
        .row.stretch
          .col.sm-4.services-list_item-image
            img(src="img/offers-2.jpg", alt="")
            a(href="#").services-list_item-image_redmore
          .col.sm-8: .services-list_item-text
              .services-list_item-title
                h3  Процессуальное изменение
              .services-list_item-intro
                p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .services-list_item
        .row.stretch
          .col.sm-4.services-list_item-image
            img(src="img/offers-3.jpg", alt="")
            a(href="#").services-list_item-image_redmore
          .col.sm-8: .services-list_item-text
              .services-list_item-title
                h3  Явление культурологического порядка
              .services-list_item-intro
                p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .services-list_item
        .row.stretch
          .col.sm-4.services-list_item-image
            img(src="img/offers-4.jpg", alt="")
            a(href="#").services-list_item-image_redmore
          .col.sm-8: .services-list_item-text
              .services-list_item-title
                h3  Форшлаг
              .services-list_item-intro
                p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .services-list_item
        .row.stretch
          .col.sm-4.services-list_item-image
            img(src="img/offers-5.jpg", alt="")
            a(href="#").services-list_item-image_redmore
          .col.sm-8: .services-list_item-text
              .services-list_item-title
                h3  Нонаккорд использует осциллятор
              .services-list_item-intro
                p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .services-list_item
        .row.stretch
          .col.sm-4.services-list_item-image
            img(src="img/offers-6.jpg", alt="")
            a(href="#").services-list_item-image_redmore
          .col.sm-8: .services-list_item-text
              .services-list_item-title
                h3  Глиссандирующая ритмоформула скалярна
              .services-list_item-intro
                p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
