header.header.header-styled
  .owl-carousel.fp-slider
    .item
      img.item-image(src="img/fp-slide-1.jpg", alt="")
      .container
        .row: .col.md-6
          .item-content
            .item-content_header: h2 Ваш персональный ассистент в Европе
            .item-content_text: p Мы предлагаем индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. 
            .item-content_link: a(href="#").btn-red_ribbon
              span Подробнее о нас
              svg: use(xlink:href="#readmore")
    .item
      img.item-image(src="img/fp-slide-2.jpg", alt="")
      .container
        .row: .col.md-6
          .item-content
            .item-content_header: h2 Ваш персональный ассистент в Европе
            .item-content_text: p Мы предлагаем индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. 
            .item-content_link: a(href="#").btn-red_ribbon
              span Подробнее о нас
              svg: use(xlink:href="#readmore")
    .item
      img.item-image(src="img/fp-slide-3.jpg", alt="")
      .container
        .row: .col.md-6
          .item-content
            .item-content_header: h2 Ваш персональный ассистент в Европе
            .item-content_text: p Мы предлагаем индивидуальные консьерж-услуги, которые помогают избавиться от ежедневных забот в различных сферах вашей жизни. 
            .item-content_link: a(href="#").btn-red_ribbon
              span Подробнее о нас
              svg: use(xlink:href="#readmore")
  .header-styled_top
    .container
      .navbar
        .navbar-header
          .row.middle
            .col.md-4.sm-5: a(href="index.html").navbar-brand: img(src="img/logo.png", alt="")
            .col.md-8.sm-7.text-right
              .navbar-header_buttons
                a(href="tel:+41791292239").call-us
                  svg: use(xlink:href="#phone")
                  span +41 79 129 22 39 
                a(href="search.html").btn-search
                  svg: use(xlink:href="#search")
                  span Поиск
                span.dropdown
                  a(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn-lang
                    span Ру
                    svg: use(xlink:href="#caret")
                  ul.dropdown-menu
                    li.active: a(href="#") Ру
                    li: a(href="#") En
        nav.navbar-menu
          button.toogle-menu меню
          ul
            +item('О нас', 'about.html', '')
            +item('Услуги', 'services.html')
            +item('Новости', 'blog.html')
            +item('Аренда', 'rent.html')
            +item('Контакты', 'contacts.html')