section.rent
  .container.rent-list
    .block-header
    .row
      .col.sm-6.md-4
        .rent-list_item
          .rent-list_item-image
            img(src="img/offers-1.jpg", alt="")
            a(href="rent-article.html").rent-list_item-image_redmore
          .rent-list_item-title
            h3  Показательный пример
          .rent-list_item-text
            p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .col.sm-6.md-4
        .rent-list_item
          .rent-list_item-image
            img(src="img/offers-2.jpg", alt="")
            a(href="rent-article.html").rent-list_item-image_redmore
          .rent-list_item-title
            h3  Процессуальное изменение
          .rent-list_item-text
            p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .col.sm-6.md-4
        .rent-list_item
          .rent-list_item-image
            img(src="img/offers-3.jpg", alt="")
            a(href="rent-article.html").rent-list_item-image_redmore
          .rent-list_item-title
            h3  Явление культурологического порядка
          .rent-list_item-text
            p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар.
      .col.sm-6.md-4
        .rent-list_item
          .rent-list_item-image
            img(src="img/offers-4.jpg", alt="")
            a(href="rent-article.html").rent-list_item-image_redmore
          .rent-list_item-title
            h3  Форшлаг
          .rent-list_item-text
            p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано, как легато продолжает октавер.
      .col.sm-6.md-4
        .rent-list_item
          .rent-list_item-image
            img(src="img/offers-5.jpg", alt="")
            a(href="rent-article.html").rent-list_item-image_redmore
          .rent-list_item-title
            h3  Нонаккорд использует осциллятор
          .rent-list_item-text
            p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано
      .col.sm-6.md-4
        .rent-list_item
          .rent-list_item-image
            img(src="img/offers-6.jpg", alt="")
            a(href="rent-article.html").rent-list_item-image_redmore
          .rent-list_item-title
            h3  Глиссандирующая ритмоформула скалярна
          .rent-list_item-text
            p Взрыв, как можно показать с помощью не совсем тривиальных вычислений, представляет собой гидродинамический удар. В литературе неоднократно описано