.footer {
  background-color: #333;
  padding: 60px 0;
  font-size: 14px;
  line-height: 20px;
  color: #989898;

  a {
    text-decoration: none;
    color: #989898;
    transition: $animation-fast;

    svg {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      width: 1em;
      height: 1em;
      transition: $animation-fast;
      fill: #989898;
      margin-right: .5em;
      margin-bottom: 2px;
    }

    &:hover {
      color: #fff;
      svg {fill: #fff;}
    }
  }

  &__develop {
    text-align: right;
    opacity: .5;
  }

  &_contacts {
    margin-bottom: 20px;
    a {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      white-space: nowrap;
      margin: 0 20px 0 0;
      &:last-child {margin-right: 0;}
    }
  }
}
@media #{$tablet-down} {
.footer {font-size: 13px;}



}
@media #{$mobile-screen} {
.footer {
  font-size: 12px;
  text-align: center;
  padding: 30px 0;
}

.footer_contacts a {
    display: block;
    text-align: center;
    line-height: 30px;
}

.footer_copyrights span {
  display: block;

  &:nth-child(2) {display: none;}
}
.footer__develop {
  padding-top: 20px;
  text-align: center;
}


}
