/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #333333;
  opacity: 0.9; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }



.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.5;
  padding: 0;
  }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.5;
  margin: 0;
  top: 50%;
  margin-top: -35px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }


.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }


//rewrite styles
.mfp-image-holder .mfp-content {
    width: 940px;
    padding: 0 100px;
    max-width: 100%;

    .mfp-figure {
      position: relative;
      width: 100%;

      &:after {
        display: none;
      }

      figure {
        padding: 80px 0 40px;
      }

      img.mfp-img {
        width: 100%;
        max-height: none !important;
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: block;
      }

      .mfp-close {
        right: 0;
        top: 15px;
        margin: 0;
        padding: 0;
        cursor: pointer !important;
        svg {
          width: 50px;
          height: 50px;
        }
      }
    }

    .mfp-arrow {
      position: absolute;
      margin-top: -35px;
      width: 70px;
      height: 70px;
      cursor: pointer !important;
      -webkit-tap-highlight-color: transparent;
    }

    .mfp-arrow-left {
      left: 15px;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3MCA3MCI+PGcgZmlsbD0iI0ZGRiI+PHBhdGggZD0iTTEgMzcuNUwzMi41IDY5YzEuMyAxLjMgMy43IDEuMyA1IDBMNjkgMzcuNWMuNy0uNyAxLTEuNiAxLTIuNSAwLS45LS40LTEuOC0xLTIuNUwzNy41IDFjLS43LS43LTEuNi0xLTIuNS0xLS45IDAtMS44LjQtMi41IDFMMSAzMi41Yy0xLjMgMS40LTEuMyAzLjYgMCA1em0uNy00LjNMMzMuMiAxLjhjMS0xIDIuNi0xIDMuNiAwbDMxLjUgMzEuNWMuNS41LjcgMS4xLjcgMS44cy0uMyAxLjMtLjcgMS44TDM2LjggNjguM2MtLjUuNS0xLjEuNy0xLjguN3MtMS4zLS4zLTEuOC0uN0wxLjcgMzYuOGMtLjktMS0uOS0yLjYgMC0zLjZ6Ii8+PHBhdGggZD0iTTM4LjQgNDIuNWwuNy0uNy02LjgtNi44IDYuOC02LjgtLjctLjctNi44IDYuOC0uNy43LjcuNyIvPjwvZz48L3N2Zz4=) no-repeat center center / cover;
    }

    .mfp-arrow-right {
      right: 15px;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3MCA3MCI+PGcgZmlsbD0iI0ZGRiI+PHBhdGggZD0iTTY5IDMyLjVMMzcuNSAxYy0xLjMtMS4zLTMuNy0xLjMtNSAwTDEgMzIuNWMtLjYuNi0xIDEuNS0xIDIuNSAwIC45LjQgMS44IDEgMi41TDMyLjUgNjljLjcuNyAxLjYgMSAyLjUgMSAuOSAwIDEuOC0uNCAyLjUtMUw2OSAzNy41YzEuMy0xLjQgMS4zLTMuNiAwLTV6bS0uNyA0LjNMMzYuOCA2OC4yYy0xIDEtMi42IDEtMy42IDBMMS44IDM2LjhjLS41LS41LS44LTEuMS0uOC0xLjhzLjMtMS4zLjctMS44TDMzLjIgMS43Yy41LS41IDEuMS0uNyAxLjgtLjdzMS4zLjMgMS44LjdsMzEuNSAzMS41Yy45IDEgLjkgMi42IDAgMy42eiIvPjxwYXRoIGQ9Ik0zMS42IDI3LjVsLS43LjcgNi44IDYuOC02LjggNi44LjcuNyA2LjgtNi44LjctLjctLjctLjciLz48L2c+PC9zdmc+) no-repeat center center / cover;
    }
}

.mfp-inline-holder .mfp-content {
    width: 455px;
    padding: 80px 0 40px;
    max-width: 100%;
    
    .mfp-close {
      right: 0;
      top: 15px;
      margin: 0;
      padding: 0;
      cursor: pointer !important;
      svg {
        width: 50px;
        height: 50px;
      }
    }

}


@media #{$mobile-screen} {
  .mfp-container::before {display: none;}

  .mfp-image-holder .mfp-content {padding:60px 0 40px;position: relative;}
.mfp-image-holder .mfp-content .mfp-arrow {
    margin-top: 0;
    width: 30px;
    height: 30px;
    top: auto;
    bottom: 20px;
}  
  .mfp-inline-holder .mfp-content {padding: 60px 0 40px;}
  .mfp-image-holder .mfp-content .mfp-figure .mfp-close svg,
  .mfp-inline-holder .mfp-content .mfp-close svg {width: 30px;height: 30px;}

}
